<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>FORMULARIO COMPRA USD</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <!--<link rel="stylesheet" type="text/css" href="" th:href="@{}">-->
  </head>
  <body>
    <!--CREAR FORMULARIO COMPRA DE USD-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">FORMULARIO COMPRA DE USD</h2>
          <form
            id="formulario"
            class="form-horizontal"
            th:action="@{/operaciones/compra/guardar}"
            method="post"
          >
            <div class="form-group">
              <label class="control-label col-sm-2" for="cantidad"
                >Cantidad:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  id="cantidad"
                  name="cantidad"
                  placeholder="Ingrese la cantidad de USD a comprar"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="tipoCambio"
                >Tipo de Cambio:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  id="tipoCambio"
                  name="tipoCambio"
                  placeholder="Ingrese el tipo de cambio"
                  required
                />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="fecha">Fecha:</label>
              <div class="col-sm-10">
                <input
                  type="date"
                  class="form-control"
                  id="fecha"
                  name="fecha"
                  placeholder="Ingrese la fecha"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="total"
                >Total en pesos:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  id="total"
                  name="total"
                  placeholder="Total en pesos a entregar"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-save"></i> Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
